:root {
  /* Colors */

  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Grey Scale */
  --color-grey-950: #131518;
  --color-grey-900: #262e38;
  --color-grey-500: #969fad;

  /* Orange */
  --color-orange-500: #fc7614;

  /* Gradient Colors */
  --color-gradient-start: #232a34;
  --color-gradient-end: #181e27;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1300: 104px;
  --spacing-1700: 136px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-grey-950);
}

body {
  font-family: 'Overpass', system-ui;
  margin: 0;
}

main {
  height: 100dvh;
}

input,
button,
select,
textarea {
  font-family: inherit;
}

/* button reset */

.btn-reset {
  all: unset;
  outline: revert;
  box-sizing: border-box;
}

